@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* neutral colors*/
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* gradient colors*/

  /* background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  /*circle*/
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* Primary*/
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
}

body {
  font-family: 'HankenGrotesk', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 2rem;
}

/* results section*/

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  background: linear-gradient(180deg, var(--Light-slate-blue), var(--Light-royal-blue));
  border-radius: 0 0 2rem 2rem;
}

.results h4 {
  color: var(--Light-lavender);
  font-weight: 700;
  font-size: 1.2rem;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 150px;
  height: 150px;
  background: linear-gradient(180deg, var(--Violet-blue), var(--Persian-blue));
    border-radius: 50%;
}

.score span:nth-child(1) {
  font-size: 3rem;
  font-weight: 800;
  color: var(--White);
}

.score span:nth-child(2) {
  color: var(--Light-lavender);
}

.results h3 {
  color: var(--White)
}

.results p {
  text-align: center;
  color: var(--Light-lavender);
}

/* summary section */

.summary {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.summary h4 {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

.summary .scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.reaction-score {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--Light-red);
  font-weight: 700;
  background-color: hsla(0, 100%, 67%, 0.05);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.summary .reaction-score .dark-text {
  color: hsl(224, 30%, 27%);
}

.summary .reaction-score .light-text {
  color: hsla(224, 30%, 27%, 0.5);
}


.memory-score {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--Orangey-yellow);
  font-weight: 700;
  background-color: hsla(39, 100%, 56%, 0.05);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.summary-header {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.summary .memory-score .dark-text {
  color: hsl(224, 30%, 27%);
}

.summary .memory-score .light-text {
  color: hsla(224, 30%, 27%, 0.5);
}

.verbal-score {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--Green-teal);
  font-weight: 700;
  background-color: hsla(166, 100%, 37%, 0.05);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.summary .verbal-score .dark-text {
  color: hsl(224, 30%, 27%);
}

.summary .verbal-score .light-text {
  color: hsla(224, 30%, 27%, 0.5);
}

.visual-score {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--Cobalt-blue);
  font-weight: 700;
  background-color: hsla(234, 85%, 45%, 0.05);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.visual-score .dark-text {
  color: hsla(241, 72%, 46%, 0);
}

.summary .visual-score .dark-text {
  color: hsl(224, 30%, 27%);
}

.summary .visual-score .light-text {
  color: hsla(224, 30%, 27%, 0.5);
}

button {
  font-size: 1rem;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Dark-gray-blue);
  padding: 0.8rem 0;
  border-radius: 2rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40rem;
    gap: 0;
    align-items: center;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 15px 15px 1rem hsla(234, 85%, 45%, 0.1)
  }

  .results {
    border-radius: 2rem;
    width: 50%;
  }

  .summary {
    border-radius: 2rem;
    width: 50%;
  }

    button {
      font-size: 1rem;
      font-weight: 700;
      color: var(--White);
      background-color: var(--Dark-gray-blue);
      padding: 1rem 0;
      border-radius: 2rem;
    }
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}